streamlit>=1.25.0
huggingface_hub>=0.15.0
pandas>=1.5.0
streamlit-aggrid>=0.3.3
customtkinter>=5.1.0
psutil>=5.9.0
GPUtil>=1.4.0
plotly>=5.0.0
transformers>=4.30.0
torch>=1.13.0
fastapi>=0.100.0
uvicorn>=0.22.0
safetensors>=0.3.0
accelerate>=0.20.0
